@model Contact

@{
    ViewData["Title"] = "UpdateContactToDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title" style="background-color:aliceblue">İletişim Bilgileri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            İletişim Detayları Güncelleme
                        </div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <input type="hidden" asp-for="ContactId" class="form-control" />
                            <input type="hidden" asp-for="Title" value="@Model.Title" class="form-control" />
                            <input type="hidden" asp-for="Description" value="@Model.Description" class="form-control" />

                            <label>Telefon 1 Bilgisi</label>
                            <input type="text" asp-for="Phone1" class="form-control" />
                            <br />
                            <label>Telefon 2 Bilgisi</label>
                            <input type="text" asp-for="Phone2" class="form-control" />
                            <br />
                            <label>Email 1 Bilgisi</label>
                            <input type="text" asp-for="Email1" class="form-control" />
                            <br />
                            <label>Email 2 Bilgisi</label>
                            <input type="text" asp-for="Email2" class="form-control" />
                            <br />
                            <label>Adres Bilgisi</label>
                            <textarea rows="4" asp-for="Address" class="form-control"></textarea>
                            <br />
                            <button class="btn btn-success">Bilgileri Güncelle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>