@model Skill

@{
    ViewData["Title"] = "CreateSkill";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title" style="background-color:aliceblue">Yetenekler</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <div class="card-sub">
                                Yetenek Güncelleme İşlemlerini Buradan Yapabilirsiniz
                            </div>
                            <label>Yetenek Adı</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Yetenek Seviyesi</label>
                            <input type="text" asp-for="Value" class="form-control" />
                            <br />
                            <button class="btn btn-success">Yeteneği Ekle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

