<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atatabilirsiniz</h1>

            <p class="lead">
                "Son dönemde tamamladığım projeleri inceleyerek yenilikçi yaklaşımlarımı ve yaratıcı çözümlerimi keşfedebilirsiniz. Her biri, modern teknolojiler ve kullanıcı odaklı tasarım anlayışıyla geliştirilmiştir."
            </p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/codingz.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/codingz.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/codingz.jpg 1x, ~/hola-master/images/portfolio/projects/codingz.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>


                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            Software
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>XxX</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/cSharpz.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/cSharpz.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/cSharpz.jpg 1x, ~/hola-master/images/portfolio/projects/cSharpz.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X""
                        </h3>
                        <p class="item-folio__cat">
                            Software
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>XxX</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/javascriptz.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/javascriptz.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/javascriptz.jpg 1x, ~/hola-master/images/portfolio/projects/javascriptz.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>XxX</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/gallery/linuxz.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/linuxz.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/linuxz.jpg 1x, ~/hola-master/images/portfolio/projects/linuxz.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            System
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>XxX</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/gallery/netCorez.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/netCorez.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/netCorez.jpg 1x, ~/hola-master/images/portfolio/projects/netCorez.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            Web Development
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>XxX</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/pythonz.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/pythonz.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/pythonz.jpg 1x, ~/hola-master/images/portfolio/projects/pythonz.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            Software
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>XxX</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/sqlz.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/sqlz.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/sqlz.jpg 1x, ~/hola-master/images/portfolio/projects/sqlz.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            Database
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>XxX</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/projects/cplus2z.jpg" class="thumb-link" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/projects/cplus2z.jpg"
                                 srcset="~/hola-master/images/portfolio/projects/cplus2z.jpg 1x, ~/hola-master/images/portfolio/projects/cplus2z.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            "X"
                        </h3>
                        <p class="item-folio__cat">
                            Software
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>XxX</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->



        </div>
    </div> <!-- end masonry -->

</section>